*.o
*.out
*.asm
*.lst
*.sym
*.rel
*.map
*.noi
*.lk
*.hex
*.bin
/linux/mktfs
/linux/tfs
*-cache.lib
*.kicad_pcb-bak
*.sch-bak
fp-info-cache
/zx81/hardware/zxsd-backups/
/zx81/hardware/zxsd-gerber/
_codeql_build_dir/
_codeql_detected_source_root
